@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ProductManagementSystem.Frontend.Components.Shared
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">

    <div style="background-image:none; background-image: linear-gradient(120deg, #4e54c8, #8f94fb);" class="sidebar">
    <NavMenu />
</div

    <main>
        <div class="top-row px-4">
            <a class="btn"  @onclick="LogOut">Log out</a>
        </div>

        <article class="content px-4">
             <Loading />
            @Body
        </article>
    </main>
</div>

@code{
    public void LogOut()
    {
        Navigation.NavigateToLogout("authentication/logout"); 
    }
}